@import url(https://fonts.googleapis.com/css?family=Creepster);

body{
    background-color: rgb(67, 59, 70);
}

h1{
    font-family: 'Creepster';
    font-size: 80px;
    display: none;
}


p{
    font-family: 'Creepster';
    font-size: 40px;
    display: none;
}