@import url(https://fonts.googleapis.com/css?family=Creepster);

body{
    background: linear-gradient(to bottom right, #9e1f76 0%, #000000 100%);
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0%;
}

h1{
    font-family: 'Creepster';
    font-size: 80px;
    color: whitesmoke;
}

h2{
    font-family: 'Creepster';
    font-size: 60px;
    color: whitesmoke;
}

h3{
    font-family: 'Creepster';
    font-size: 50px;
    color: whitesmoke;
}


p{
    font-family: 'Creepster';
    font-size: 40px;
    margin-right: 10px;
    color: whitesmoke;
}

p.Color {
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.vertical{
    display: flex; flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.vertical p{
    text-align: center;
}

img.round{
    padding: 0;
    margin: 0%;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    transition: 1s;
}

img.round:hover{
    transform:scale(120%) rotate(360deg);
}

.left
{
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0%;
    position: fixed;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:grey;
    background-color: #2d073b;
}

a{
    font-size: 25px;
    font-family: 'Creepster';
    text-decoration: none;
    margin-top: 5px;
    margin-right: 60px;
    height: 100%;
    transition: 0.5s;
}

a:hover{
    transform: translateY(-6px) scale(110%);
}

.TourBox{
    width: 60vw;    
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0%;
    background-color: #c392ba;
    border-radius: 50px;
}

.TourBox h1{
    font-size: 50px;
    margin: 0%;
    margin-top: 5px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000000,
    -1px 1px 0 #000000
    1px -1px 0 #000000
    1px 1px 0 #000000;
}

.TourBox h2{
    font-size: 40px;
    margin: 0%;
    margin-top: 5px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000000,
    -1px 1px 0 #000000
    1px -1px 0 #000000
    1px 1px 0 #000000;
}

.TourBox h3{
    font-size: 30px;
    margin: 0%;
    margin-top: 5px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000000,
    -1px 1px 0 #000000
    1px -1px 0 #000000
    1px 1px 0 #000000;
}

.TourBox p{
    margin: 0%;
    margin-top: 5px;
    text-align: center;
}

p a{
    margin: 0%;
    font-size: 40px;
    margin-top: 5px;
}

.DontBig:hover{
    transform: translateY(-0px) scale(100%);
}